.nav {
  position: relative;
  z-index: 2;
  height: 2.5rem;
  overflow-y: hidden;
  scroll-behavior: smooth;
  width: 100%;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1.5rem;
  padding-left: 0;
  margin-block: 0;
  overflow-x: auto;
  list-style: none;
  text-align: center;
  white-space: nowrap;
}

.link {
  display: block;
  flex-shrink: 0;
}

.active {
  color: #fff;
  font-weight: 600;
}

.link img {
  width: 22px;
  height: 22px;
}