.typing-wrapper {
  display: grid;
  place-items: center;
  padding: 20px 0;
}

.typing-text {
  width: 20em;
  animation: typing 7s steps(20) infinite,
    blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.5em;
  font-family: serif;
}

@keyframes typing {
  0% {
    width: 0;
  }
  60% {
    width: 20em;
  }
  100% {
    width: 20em;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
